@mixin mobile {
  @media screen and (max-width: 520px) {
    @content;
  }
}

.main_wrapper{
  width: 100%;
  height: 550px;
  @include mobile(){
    height: auto;
  }
}
.wrapper{
  display: flex;
  width: 100%;
  padding: 40px 30px;
  @include mobile(){
    padding: 10px 8px;
    flex-direction: column;
  }
}
.right_wrapper{
  flex: 1;
  position: relative;
  top: 295px;
}
.left_wrapper{
  flex: 1;
  @include mobile(){
    margin-top: 600px;
  }
}

.images{
  position: relative;
  box-shadow: 5px 10px #888888;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_item{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  @include mobile(){
    width: 200px;
    height: 200px;
  }
}
.image_item img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.image_item:nth-child(1){
  z-index: 1;
  box-shadow: 0px 0px 34px -18px #000;
  border-radius: 15px;
}
.image_item:nth-child(2){
  box-shadow: 0px 0px 15px -10px #000;
  border-radius: 15px;
  right: 52%;
  bottom: 0%;
  @include mobile(){
    width: 180px;
    height: 180px;
  }
}
.image_item:nth-child(3){
  left: 10%;
  width: 180px;
  box-shadow: 0px 0px 15px -10px #000;
  border-radius: 15px;
  height: 180px;
  margin: 59px 34px;
  top: 0;
  @include mobile(){
    width: 160px;
    height: 160px;
  }
}
.image_item:nth-child(4){
  left: 65%;
  bottom: 10%;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 15px -10px #000;
  border-radius: 15px;
  @include mobile(){
    width: 160px;
    height: 160px;
    margin-right: 40px;
  }
}
.left_wrapper{
  max-width: 50%;
  @include mobile(){
    max-width: 100%;
  }

}
.product_info{
  padding: 0 4rem;
  @include mobile(){
    padding: 0 1rem;
  }

}
.product_title{
  font-size: 35px;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  @include mobile(){
    font-size: 25px;
    padding: 7px;
  }
}
.price{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  @include mobile(){
    flex-direction: column;
    padding:7px;
  }
}
.main_price{
  font-size: 20px;
  font-weight: bold;
  padding: 10px 4px;
  @include mobile(){
    padding: 0;
  }
}
.fake_price{
  font-size: 15px;
  font-weight: lighter;
  color: #0000007a;
  padding: 0px 20px;
  @include mobile(){
    padding: 2px 0;
  }
}
.discount{
  font-size: 12px;
  color: red;
  padding-right: 15px;
  @include mobile(){
    padding: 10px 0;
  }

}
.product_info .sale_button{
  width: 44px;
  height: 20px;
  border: 1px solid red;
  color: red;
  font-size: 12px;
  border-radius: 3px;
}
.quantity{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 5px;
  width: 120px;
}
.quantity_button{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: navajowhite;
  background: rgba(0, 0, 0, 0.08);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #626161;
  font-weight: lighter !important;
}
.quantity_button:hover{
  background: #002d46;
  color: white;
  transition: all .3s ease-in-out;
}
.quantity_input{
  font-family: inherit;
  color: currentColor;
  font-size: 1rem;
  font-weight: 500;
  opacity: .85;
  text-align: center;
  background-color: transparent;
  border: 0;
  padding: 0 .5rem;
  height: 1.6rem;
  width: 10px !important;
  flex-grow: 1;
  -webkit-appearance: none;
  appearance: none;
}
.button_cart1{
  width: 70% !important;
  margin: 10px;
  @include mobile(){
    width: 100% !important;
    margin: 15px 0 !important;
  }
}