@mixin mobile {
    @media screen and (max-width: 520px) {
      @content;
    }
  }
.top_header{
    @include mobile(){
        margin-top: -25px;
    }
}
.bulk_section_inner {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    @include mobile(){
        max-width: 95%;
        padding: 0;
    }
  }
  .contact-form {
    background: #fafafa;
    padding: 30px 40px;
  }

  .bulk_section_inner .contact-form .contact__fields {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    @include mobile(){
        flex-direction: column;
    }
  }
  .bulk_section_inner .header_wrapper {
    text-align: center;
    margin: 30px 0;
  }
  .bulk_section_inner .heading {
    font-size: 24px;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
  }
  .bulk_section_inner .heading p, .bulk_section_inner .sub_heading p {
    margin: 0;
  }
  .form_fields_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mobile(){
        flex-direction: column;
    }
  }
  .contact__button {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    @include mobile(){
      flex-direction: column !important;
    }
  }
  .field__input, .customer .field input {
    flex-grow: 1;
    text-align: start;
    padding: 1.2rem !important;
  }
  .field__input{
    font-size: 13px;
    font-weight: lighter;
  }
  .bulk_section_inner .contact-form .field > label {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
    width: 100%;
  }
  .field__input, .customer .field input {
    flex-grow: 1;
    text-align: start;
    padding: 1.5rem;
  }
  .bulk_section_inner .contact-form .field .field__input, .bulk_section_inner .customer .field input {
    background: #fff;
  }
  .bulk_section_inner .contact-form .contact__fields > .field, .bulk_section_inner .contact-form .form_fields_wrapper .field {
    width: 49%;
  }
  .bulk_section_inner .contact-form .field {
    flex-wrap: wrap;
    margin-bottom: 18px;
    width: 49%;
    @include mobile(){
        width: 100% !important;
    }
  }  
  .field {
    position: relative;
    width: 100%;
    display: flex;
  }
  .field__input, .customer .field input {
    flex-grow: 1;
    text-align: start;
    padding: 1.5rem;
  }
  .field__input, .select__select, .customer .field input, .customer select {
    font-family: inherit;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    color: rgb(var(--color-foreground));
    width: 100%;
    box-shadow: inset 0 0 0 .1rem rgb(var(--SecondaryColor));
    height: 1.2rem;
    box-sizing: border-box;
    transition: box-shadow var(--duration-default) ease;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    outline: none;
  }
  .field__input{
    outline: none !important;
  }
  .field__input:hover{
    border: 1px solid #60bcb1;
    transition: border .4s ease-in-out;
    outline: none;
  }
  .text-area {
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    padding: 1.2rem;
    min-height: 10rem;
    width: 100%;
    resize: none;
  }
  .contact__button {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .button_cart1{
    width: 48%;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #60bcb1;
    border-radius: 5px !important;
    height: 47px;
    font-size: 14px;
    font-weight: 400 !important;
    border-color: #60bcb1 !important;
    font-family: "Mulish", sans-serif;
    outline: none;
    @include mobile(){
        height: 45px;
    }
}
.label1{
    font-size: 13px !important;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    color: #676b71;
}

.label1 span{
    color: red;
}