@mixin mobile {
    @media screen and (max-width: 520px) {
      @content;
    }
  }



.Cart-Area{
    width: 450px;
    @include mobile(){
        width: 390px;
    }
}

.Cart_Element{
    width: 100% !important;
}
.top{
    display: flex;
    width: 100%;
    padding: 30px 10px 30px 30px;
    justify-content: space-between;
}
.title{
    text-transform: capitalize;
    letter-spacing: .06rem;
    font-size: 25px;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    @include mobile(){
        font-size: 22px;
        font-weight: 600;
    }
}
.button1{
    width: 30px;
    height: 30px;
    background-color: gray;
    width: 15px !important;
    color: black;
}

.button svg{
    width: 30px;
    height: 30px;
    background: #3c3c3c14;
    border-radius: 50%;
    color: black;
}
.text_In_Cart{
    display: flex;
    width: 100%;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: "Mulish", sans-serif;
}
.text_In_Cart p:nth-child(1){
    font-size: 20px;
    font-weight: 600;
}
.text_In_Cart p:nth-child(2){
    font-size: 15px;
    font-weight: 300;
}
.buttonsCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 25px 0px;
}
.button_cart2{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #60bcb1;
    border-radius: 5px;
    height: 47px;
    font-size: 14px;
    font-weight: 400 !important;
    border-color: #60bcb1 !important;
    font-family: "Mulish", sans-serif;
    outline: none;
    @include mobile(){
        width: 60%;
        height: 45px;
    }
}

.toggle_button{
    min-width: 0px !important;
}