@mixin mobile {
    @media screen and (max-width: 520px) {
      @content;
    }
  }

.footer {
    font-size: 1.8rem;
    line-height: calc(1 + .8 / var(--font-body-scale));
    background-color: #002d46;
    width: 100%;
    margin-top: 100px;
    bottom: 0;

    .footer__content-top {
        display: block;
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 100%;
        height: 100%;
        padding: 70px 50px 120px 50px;

        @include mobile(){
            padding: 20px 25px;
        }

        .grid {
            display: grid;
            width: 100%;
            height: 100%;
            display: flex;

            @include mobile(){
                display: grid;
            }

            .footer__content-left{
                flex: 9;

                .footer__blocks-wrapper{
                    // margin: 1rem 0 0;
                    text-align: justify;
                    font-size: 0.8rem;
                    line-height: calc(1 + .5 / var(--font-body-scale));
                    letter-spacing: .04rem;
                    color: white;
                    font-weight: lighter;
                    display: flex;
                    gap: 40px;
                    justify-content: center;
                    @include mobile(){
                        flex-direction: column;
                    }

                    .grid__item{
                        flex: 1;
                        flex-direction: column;
                        align-items: center;
                        @include mobile(){
                            flex-direction: initial;
                        }
                    }
                }
                    .center-content{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        gap: 20px;
                        @include mobile(){
                            gap: 0px;
                        }

                        ul{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                        }
                    }

                    .accordion__title{
                        font-size: 16px;
                        color: #00b9aa;
                        font-weight: bolder;
                    }

                    .footer-block__details-content {
                        text-align: left;

                        @include mobile(){
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                            padding: 20px 0px 0px 0px;
                        }
                      }
                    .footer-block-image {
                        line-height: 0;
                        a{
                            display: inline-block;
                            line-height: 0;

                            img{
                                width: 200px !important;
                                object-fit: cover;
                            }
                        }
                    }
            }
            .footer__content-right{
                flex: 3;
                .accordion__title{
                    font-size: 16px;
                    color: #00b9aa;
                    font-weight: bolder;
                    font-weight: inherit;
                }
            }
            
          }
      }
}

.caption-large{
    margin: 1rem 0 0;
    text-align: justify;
    line-height: 20px;
    letter-spacing: .04rem;
    color: white;
    font-weight: lighter;
}

.accordion{
    flex: 1;
    display: flex;
}
.footer-block__details-content{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: white;
    font-weight: lighter;
    gap: 21px;
}

.footer-block__newsletter{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__newsletter_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grid_item{
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 50px;
    gap: 20px;

    @include mobile(){
        padding: 50px 0px;
    }
}
#ContactFooter{
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include mobile(){
        gap: 20px;
    }
}
.field{
    display: flex;
    gap: 10px;
}
#ContactFooter-email{
    border-radius: 8px;
    width: 150px;
    height: 45px;
    padding: 7px;
    font-size: 14px;
    outline: none;
    @include mobile(){
        height: 40px;
    }
}

.button{
    width: 100px;
    border: 1px solid white;
    border-radius: 10px;
    height: 45px;
    font-size: 15px;
    font-weight: bolder;
    @include mobile(){
        height: 40px;
    }
}

.button:hover{
    color: #002d46;
    background-color: white;
    transition: .2s ease-in-out;
}
.bottom-cta-wrapper{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    @include mobile(){
        height: 40px;
        width: 70%;
    }
}
.bottom-cta-wrapper:hover{
    color: #002d46;
    background-color: white;
    transition: .2s ease-in-out;
}

.footer__list-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-block__details-content ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.footer__content-bottom{
    background: #002d46;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    padding: 0 0 50px 50px;
}