@mixin mobile {
    @media screen and (max-width: 520px) {
      @content;
    }
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    display: none;
    @include mobile(){
        display: block;
    }
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    width: 100%;
    height: 130px;
    @include mobile(){
        margin-top: 25px;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 15px;
        margin: 15px;
        @include mobile(){
            gap: 0px;
            padding: 0px;
        }
    }
    .header-left{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1.6;
        max-width: 174px;
        padding: 39px 0px 0px 6px;
        @include mobile(){
            
        }
    }
    .header-left img{
        @include mobile(){
        display: none;
        }
    }
    
    .header-center{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 6;
        @include mobile(){
            display: none;
        }
        ul{
            display: flex;
            align-items: baseline;
            justify-content: flex-start;
        }

        .list-menu--inline {
            display: inline-flex;
            flex-wrap: wrap;
            column-gap: 1.5rem;

            dropdown-menu{
                position: relative;
                display: block;
                text-align: start;
            }
          }
          .list-menu {
            list-style: none;
            padding: 0;
            margin: 0;

            li{
                margin: 0 40px 0px 2px;
                .header__menu-item {
                    font-family: var(--font-navigation-family);
                    font-size: var(--font-navigation-size);
                    font-weight: var(--font-navigation-weight);
                    text-transform: uppercase;
                    letter-spacing: .07rem;
                    color: rgb(var(--color-link));
                }
                .header__menu-item .label {
                    font-size: 13px;
                    font-weight: 500;
                    background-color: transparent;
                    background-image: linear-gradient(to top,rgb(var(--color-border)) 0px 0px),linear-gradient(to top,transparent 0px,transparent 0px);
                    background-repeat: no-repeat;
                    background-position: right bottom,right bottom;
                    background-size: 0% .1rem,100% .1rem;
                    transition-property: background-size;
                    transition-timing-function: ease;
                    transition-duration: var(--duration-default);
                }
                .header__menu-item .label:hover{
                    color: #5f5f5f;
                    transition-timing-function: ease;
                }
            }
          }
    }
    
    .header-right{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 2;
        @include mobile(){
            // gap: 1.5rem;
        }
    }
}