#shopify-section-template--15090753830955__91422561-fa1e-47a0-88ee-f8d17ebff356 {
    --section-padding-top: 80px;
    --section-padding-bottom: 80px;
  }
  #shopify-section-template--15090753830955__91422561-fa1e-47a0-88ee-f8d17ebff356 {
    background-color: #ffffff
  }
  #shopify-section-template--15090753830955__91422561-fa1e-47a0-88ee-f8d17ebff356 .title {
    color:#919291
  }
  @media (max-width:767px) {
    #shopify-section-template--15090753830955__91422561-fa1e-47a0-88ee-f8d17ebff356 .section--padding {
      --section-padding-top: 35px;
      --section-padding-bottom: 18px;
    }
  }
  
    #shopify-section-template--15090753830955__91422561-fa1e-47a0-88ee-f8d17ebff356 .block-6b1038c0-0661-45b8-b41e-0d272ee8f7ee img {
      width:74px;
      height:74px;
    }
    @media (max-width:749px) {
      #shopify-section-template--15090753830955__91422561-fa1e-47a0-88ee-f8d17ebff356 .block-6b1038c0-0661-45b8-b41e-0d272ee8f7ee img {
        width:52px;
        height:52px;
      }
    }
  
    #shopify-section-template--15090753830955__91422561-fa1e-47a0-88ee-f8d17ebff356 .block-5ac25712-1852-4799-9202-92fa3e8cb9de img {
      width:74px;
      height:74px;
    }
    @media (max-width:749px) {
      #shopify-section-template--15090753830955__91422561-fa1e-47a0-88ee-f8d17ebff356 .block-5ac25712-1852-4799-9202-92fa3e8cb9de img {
        width:52px;
        height:52px;
      }
    }
  
    #shopify-section-template--15090753830955__91422561-fa1e-47a0-88ee-f8d17ebff356 .block-c3f51078-3147-407f-a340-388589268bc6 img {
      width:74px;
      height:74px;
    }
    @media (max-width:749px) {
      #shopify-section-template--15090753830955__91422561-fa1e-47a0-88ee-f8d17ebff356 .block-c3f51078-3147-407f-a340-388589268bc6 img {
        width:52px;
        height:52px;
      }
    }


.has-divider {
    display: block;
    border-top: 1px solid var(--color-border);
    padding: 40px 0px;
}
.page-width {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  .trust-badges-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: auto -10px;
    padding: 0;
  }
  .trust-badges-wrapper .badge-item {
    flex: 1 0 25%;
    padding: 0 10px;
    position: relative;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
  #shopify-section-template--15090753830955__91422561-fa1e-47a0-88ee-f8d17ebff356 .block-6b1038c0-0661-45b8-b41e-0d272ee8f7ee img {
    width: 74px;
    height: 74px;
  }
  .trust-badges-wrapper img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    -o-object-fit: contain;
    object-fit: contain;
    image-rendering: -webkit-optimize-contrast;
    height: auto;
  }
  #shopify-section-template--15090753830955__91422561-fa1e-47a0-88ee-f8d17ebff356 .title {
    color: #919291;
  }
  .trust-badges-wrapper .title {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: var(--body-size-xl);
    display: block;
    line-height: 23px;
  }
  #shopify-section-template--15090753830955__91422561-fa1e-47a0-88ee-f8d17ebff356 .title {
    color: #919291;
    font-weight: lighter;
    font-family: "Mulish", sans-serif;
  }