.shining-blue {
  background-color: #007bff; /* Blue color */
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: 0 0 20px 5px rgba(0, 123, 255, 0); /* Blue shadow with opacity */
  border-radius: 0px; /* Adjust as needed */
  padding: 1px; /* Adjust as needed */
}