@mixin mobile {
    @media screen and (max-width: 520px) {
      @content;
    }
  }

.main{
    width:40% ;
    margin: auto;
    @include mobile(){
        width: 90%;
    }
}

.top{
    align-items: center;
    padding: 30px;
    font-size: 20px;
    @include mobile(){
        font-size: 17px;
    }
}
.main .top p{
    border-bottom: 1px solid rgb(152, 144, 144);
}

.main .orders .empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main .orders .empty img{
    height: 25vh;
    width: 25vh;
}



.main .orders .empty .write{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.main .orders .empty .write span{
    color: gray;
    font-weight: 400;
}


.main hr{
    margin-top: 15px;
    color: rgb(172, 171, 171);
    margin-bottom: 15px;
}


.main .user{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.main .user h1{
    font-weight:700;
}

.main .user .top-user{
    font-weight: 300;
}

.main .user h6 {
    font-size: 2vh;
}